.nav_link {
    border-radius: 2rem;
    font-size: 1.2rem;
    &:hover{
    color: #7451eb !important;
    background-color: #fff !important;    
  }
}
.nav_name{
    display: flex;
    flex: 40%;
    justify-content: center;
    &_person{
    font-family: 'Playball', cursive;
    font-size: 2.0rem;
}
}
.nav_link_display{
    display: flex;
    flex: 60%;
    justify-content: space-around;
    align-items: flex-end;
}
.home_icon{
    font-size: 1.5rem;
}
@media screen and (min-width : 300px) and (max-width : 700px)
{
    .nav_name_title{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .nav_link_display{
        align-items: flex-start;
        margin-left: 8px;
        padding: 5px;
    }

}